@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("assets/fonts/font-face.css");
@import '~material-design-icons/iconfont/material-icons.css';
/* You can add global styles to this file, and also import other style files */

header {
  /* background-image: url("./assets/img/logo_coors_light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
  margin: 25px auto;
  position: relative;
  width: 500px;
  text-align: center;
  max-width: 600px;
}

body {
  background-color: #e7e7e7;
  background-image: url("./assets/img/fondo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;
}

.h1,
h1 {
  font-size: 2rem;
}

h1 {
  color: #d00a11;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Brandon Grotesque Black';
}

h1 span {
  font-family: 'Brandon Grotesque Medium';
}

label {
  font-family: 'Brandon Grotesque Medium';
  text-transform: uppercase;
  color: #d00a11
}

imput {
  background-color: #fff;
}

.btn-outline-primary {
  color: #d00a11;
  border-color: #d00a11;
  border: 3px solid #d00a11;
  font-family: 'Brandon Grotesque Black';
  text-transform: uppercase;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 1, 1, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 1, 1, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #d00a11;
  border-color: #d00a11;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #d00a11;
  border-color: #d00a11;
}

.botones_incio {
  margin-top: 50px;
}

.forms_registro {
  margin: 0px auto;
  max-width: 600px;
  margin-top: 20px;
}

.form-control {
  border: 3px solid #d00a11;
  padding: .6rem .75rem;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #d00a11;
}

.mat-form-field.mat-focused.mat-form-field-should-float .mat-focused {
  border: 3px solid #d00a11;
}

.forms_registro_botones {
  margin-top: 20px;
}

.forms_ganador {
  margin: 0px auto;
  max-width: 600px;
  margin-top: 10px;
}

.botones_incio_tabla {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #d00a11;
}

.mat-form-field-flex {
  background: rgba(255, 255, 255, 0.4);
  padding-left: 8px;
}

.mat-form-field {
  margin-bottom: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  text-transform: lowercase !important;
  padding-left: 8px;
}

.top-10 {
  margin-top: 28px;
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #d00a11;
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  color: rgba(255, 255, 255, 0.87);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #d00a11;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background-color: rgba(233, 196, 196, 0.3);
}

table {
  width: 100%;
}

.mat-table {
  background: rgba(255, 255, 255, 0.8);
}

.mat-tab-label-content {
  font-family: 'Brandon Grotesque Medium';
  text-transform: uppercase;
  color: #d00a11
}

.forms_registro_boton {
  margin: 0px auto;
  max-width: 600px;
}
