<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <span>Puntajes</span> COORS LIGHT
      </h1>
    </div>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="row forms_registro">
      <div class="col-12">
          <label for="formGroupInput2">RUT</label>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Busca tu rut" formControlName="rut" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field class="full-width">
            <input matInput placeholder="Ej. 16088828-8">
            <mat-hint>RUT es requerido</mat-hint>
          </mat-form-field> -->

          <label for="formGroupInput2">Cantidad de cupón</label>
          <mat-form-field class="full-width">
            <input matInput placeholder="Ej. 2" formControlName="cantidad" type="number">
          </mat-form-field>

          <label for="formGroupInput2">Puntos</label>
          <mat-form-field class="full-width">
            <input matInput placeholder="Ej. 8" formControlName="puntaje" type="number">
          </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center forms_registro_botones">
      <div class="col-5">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
          <strong>Guardar</strong>
        </button>
      </div>
      <div class="col-5">
        <button type="button" [routerLink]="['/index']" class="btn btn-lg btn-block btn-outline-primary">
          <strong>Volver</strong>
        </button>
      </div>
    </div>
  </form>

</div>