<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <span>Tabla de posiciones</span> COORS LIGHT
      </h1>
    </div>
  </div>
  <div class="row forms_registro">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Tabla Individual">

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- index Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="rut">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rut </th>
              <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
            </ng-container>

            <ng-container matColumnDef="local">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
              <td mat-cell *matCellDef="let element"> {{element.local}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje </th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Tabla Grupal">
          <table mat-table [dataSource]="dataSourceTeam" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje </th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row justify-content-center forms_registro_botones">
    <div class="col-6">
      <button type="button" [routerLink]="['/index']" class="btn btn-lg btn-block btn-outline-primary">
        <strong>Volver</strong>
      </button>
    </div>
  </div>
</div>
