<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <span>Regístrate en</span> COORS LIGHT
      </h1>
    </div>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="row forms_registro">
      <div class="col-12">
        <label for="formGroupInput2">RUT</label>
        <mat-form-field class="full-width">
          <input matInput placeholder="Ej. 16087828-0" formControlName="rut">
          <mat-hint>RUT es requerido</mat-hint>
        </mat-form-field>

        <label for="formGroupInput2">Ingrese su nombre</label>
        <mat-form-field class="full-width">
          <input matInput placeholder="Ej. Juan Perez" formControlName="name">
        </mat-form-field>

        <label for="formGroupInput2">LOCAL</label>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Ej. SUBLIME" formControlName="local" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptionsLocal | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="row forms_registro_boton">
      <div class="col-10">
        <label for="formGroupInput2">NOMBRE EQUIPO</label>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Ej. Los Vengadores" formControlName="team" [matAutocomplete]="autoLocal">
          <mat-autocomplete #autoLocal="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-2 top-10">
        <button type="button" (click)="openDialog()" mat-fab>
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>

    <div class="row justify-content-center forms_registro_botones">
      <div class="col-6">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
          <strong>Guardar</strong>
        </button>
      </div>
      <div class="col-6">
        <button type="button" [routerLink]="['/index']" class="btn btn-lg btn-block btn-outline-primary">
          <strong>Volver</strong>
        </button>
      </div>
    </div>
  </form>

</div>