<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1><span>¡Bienvenido a tombola</span> <br> COORS LIGHT<span>!</span>
            </h1>
        </div>
    </div>
    <div class="row botones_incio">
        <div class="col-4">
            <button type="button" [routerLink]="['/registrar']" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Registrar</strong>
            </button>
        </div>
        <div class="col-4">
            <button type="button" [routerLink]="['/cupon']" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Puntaje</strong>
            </button>
        </div>

        <div class="col-4">
            <button type="button" [routerLink]="['/ranking']" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Ranking</strong>
            </button>
        </div>
    </div>    
    <div class="row botones_incio_tabla">
        <div class="col-12">
            <button type="button" [routerLink]="['/tombola']" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Tombola</strong>
            </button>
        </div>
    </div>
</div>
