<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Tombola
                <strong>COORS LIGHT</strong>
            </h1>
        </div>
    </div>
    <div *ngIf="!enabledButton">
        <div class="row forms_registro">
            <div class="col-12 text-center">
                <h2>El GANADOR ES</h2>
            </div>
        </div>
        <div class="row forms_ganador">
            <div class="col-12 text-center" style="border: 3px solid #d00a11; margin-bottom: -3px">
                <h2>
                    <strong>{{cuponSeleccionado.name}}</strong>
                </h2>
            </div>
            <div class="col-12 text-center" style="border: 3px solid #d00a11;">
                <h2>
                    <strong>{{cuponSeleccionado.rut}}</strong>
                </h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center forms_registro_botones">
        <div class="col-5">
            <button type="button" (click)="girarTombola()" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Girar Tombola</strong>
            </button>
        </div>
        <div class="col-5">
            <button type="button" [routerLink]="['/index']" class="btn btn-lg btn-block btn-outline-primary">
                <strong>Volver</strong>
            </button>
        </div>
    </div>
</div>
