<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <span>Login</span> COORS LIGHT
      </h1>
    </div>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="submit()">
    <div class="row forms_registro">
      <div class="col-12">
        <label for="formGroupInput2">INGRESE SU CONTRASEÑA</label>
        <mat-form-field class="full-width">
          <input matInput type="password" formControlName="contraseña">
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center forms_registro_botones">
      <div class="col-6">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
          <strong>Entrar</strong>
        </button>
      </div>
    </div>
  </form>

</div>
