@font-face {
font-family: 'Brandon Grotesque Light';
font-style: normal;
font-weight: normal;
src: url('brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Black';
font-style: normal;
font-weight: normal;
src: url('brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    font-style: normal;
    font-weight: normal;
    src: url('brandon_med.woff') format('woff');
    }
    